[Unit]
Description=AutoSSH into home laptop
After=network.target

[Service]
User=pdietl
Type=forking
ExecStart=autossh -M 0 -f \
    -o ExitOnForwardFailure=yes \
    -o ServerAliveInterval=30 \
    -o ServerAliveCountMax=3 \
    -p 9998 -NR 2222:localhost:22 \
    pdietl@montesano.haus

[Install]
WantedBy=multi-user.target
